* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* ===== INDEX PAGE ===== */
.landing-page {
    height: 100vh;
    background-color: rgb(236, 241, 242);
}
header {
    position: fixed;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
    color: white;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 100vh;
    /* background: url("https://images.unsplash.com/photo-1529333166437-7750a6dd5a70") no-repeat center center/cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 60px;
}

.hero button {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    background: #4a4fbd;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
/* ===== AUTH PAGE ===== */

.auth-page {
    height: 100vh;
    background: linear-gradient(135deg, #1cb5e0, #000851);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
}

.auth-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

.auth-container button {
    width: 100%;
    padding: 12px;
    background: #667cc1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ===== JOIN PAGE ===== */
.join-page {
    height: 100vh;
    background: linear-gradient(135deg, #1cb5e0, #000851);
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
}

.join-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

.join-container button {
    width: 100%;
    padding: 12px;
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 10px;
}

/* --- MEETING PAGE --- */
.meeting-page {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting-page h2 {
    color: white;
    margin: 20px;
}

.video-container {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

video {
    width: 400px;
    height: 250px;
    background: black;
    border-radius: 20px;
}

.controls {
    margin-top: 30px;
}

.controls button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#end-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

#end-btn:hover {
    background-color: #c0392b;
}